<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-1"> # </th>
            <th class="col-2">bandera</th>
            <th class="col-2">Nombre</th>
            <th class="col-2">Poblacion</th>
            <th class="col-2"></th>
        </tr>
    </thead>
        <tbody>
            <tr  *ngFor=" let pais of paises, let i= index">
                <td class="col-1"> {{ i+1 }}</td>
                <td class="col-2">
                    <img class="small-flag" [src]="pais.flags.svg" >
                </td>
                <td class="col-2">{{pais.capital}},{{ pais.name.common }},{{pais.region}}</td>
                <td class="col-2">{{pais.population | number}}</td>
                <td class="col-2">
                    <a [routerLink]="['/pais', pais.cca2]">Ver...</a>
                </td>
            </tr>
        </tbody>
    
</table>