

<h3>Buscar por Region <small>{{regionActiva | titlecase}}</small></h3>
<hr>

<h5>Seleccione la Region</h5>

<div class="row">
    <div class="col">

        
                <!-- [class.btn-primary]="region === region" -->

        <button *ngFor="let region of regiones"
                [class]="getClaseCSS(region)"
                (click)="activarRegion(region)">
            {{region | titlecase }}
        </button>
    </div>
</div>
<div    *ngIf="paises.length > 0" 
    class="row">
<div class="col">

    <app-pais-tabla [paises]="paises"></app-pais-tabla>

</div>
</div>



<!-- <div id="Pages">
<h2>Por Región</h2>
<hr>


<div class="row">
    <div class="col">
       <app-pais-imput 
       (onEnter)="Buscar($event)" 
       placeholder=" Buscar por Region...">
        </app-pais-imput>
    </div>
</div>

<hr>

<div *ngIf="hayerror"
    class="alert alert-danger">
    No se encontro nada con el término {{terminor}}
</div>


<div    *ngIf="Region.length > 0" 
        class="row">
    <div class="col">

        <app-pais-tabla [paises]="Region"></app-pais-tabla>

    </div>
</div>
</div> -->
