<div id="sidebar" class=" border-right p-3">
<h2 >Busquedas</h2>
<hr>
<ul class="list-group">
   <button  type="button" class="btn "> 
    <li routerLink=''
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class=" list-group-item">
        Buscar pais
    </li>
    </button>
    <button type="button" class="btn">
        <li routerLink="region"
            routerLinkActive="active"
            class="list-group-item">
        Por region
    </li>
    </button>
    <button type="button" class="btn  ">
        <li routerLink="capital"
            routerLinkActive="active"
            class="list-group-item">
        Por capital
    </li>
    </button>
</ul>
</div>